<div class="content">
        <button mat-dialog-close mat-fab color="primary" class="score">X</button>
          <h1 mat-dialog-title>Tournament</h1>
       
            <table mat-table [dataSource]="this.playersTournment">  
                    <ng-container matColumnDef="Player">
                      <th mat-header-cell *matHeaderCellDef> Player </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="Weapon">
                        <th mat-header-cell *matHeaderCellDef> Weapon </th>
                        <td mat-cell *matCellDef="let element">
                            <i *ngIf="element.weapon === 'R'" class="fa fa-hand-rock-o"></i>
                            <i *ngIf="element.weapon === 'P'" class="fa fa-hand-paper-o"></i>
                            <i *ngIf="element.weapon === 'S'"  class="fa fa-hand-scissors-o"></i>
                        </td>
                    </ng-container>
    
                    <!-- <ng-container matColumnDef="Winner">
                      <th mat-header-cell *matHeaderCellDef> Winner </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>        -->
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <div class="flex-container flex-center" style="flex-direction: column"> 
        <div >
            <h1> You're the winner! </h1>
            <!-- <h2 class="winner"> {{ firstWin ? playerOne.name : playerTwo.name}} </h2> -->
        </div> 
            <button (click)="ResultTournment()" class="btn btn-primary"> Play Game</button>
    </div> 